#include <windows.h>
#include "resources.h"

IDI_ICON ICON "icon.ico"
IDD_BANNER BITMAP "banner.bmp"

IDD_MAIN DIALOG 0, 0, 361, 279
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Carmageddon 2 Launcher"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
FONT 8, "MS Sans Serif"
{
   PUSHBUTTON "Launch", IDC_OK, 195, 132, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
   PUSHBUTTON "Cancel", IDC_CANCEL, 249, 132, 50, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP
   AUTORADIOBUTTON "Direct Draw Software", IDC_DIRECTDRAW, 199, 18, 94, 10, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED
   AUTORADIOBUTTON "3DFX (Glide)", IDC_GLIDE, 199, 28, 94, 10, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED
   AUTORADIOBUTTON "Direct 3D", IDC_DIRECT3D, 199, 38, 94, 10, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED
   LISTBOX IDC_OUTPUT, 7, 154, 347, 118, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | LBS_NOSEL | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_VSCROLL
   GROUPBOX "Options", IDC_OPTIONS, 194, 7, 160, 49, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED
   PUSHBUTTON "Recheck", IDC_RECHECK, 299, 18, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
   PUSHBUTTON "Readme.txt", IDC_README, 299, 34, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP
   GROUPBOX "Direct 3D Options", IDC_D3D_OPTIONS, 195, 59, 159, 66, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED
   COMBOBOX IDC_DRIVER, 231, 68, 117, 67, CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_VSCROLL | WS_TABSTOP
   LTEXT "Driver", IDC_DRIVER_LABEL, 201, 71, 26, 8, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP
   COMBOBOX IDC_DEVICE, 231, 88, 117, 69, CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_VSCROLL | WS_TABSTOP
   LTEXT "Device", IDC_DEVICE_LABEL, 201, 90, 26, 8, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP
   PUSHBUTTON "Advanced", IDC_ADVANCED_BUTTON, 298, 106, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
   PUSHBUTTON "Details >>", IDC_DETAILS_EXPAND, 303, 132, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP
   CONTROL IDD_BANNER, -1, "Static", SS_BITMAP | WS_CHILD | WS_VISIBLE, 7, 7, 182, 126
   PUSHBUTTON "<< Details", IDC_DETAILS_SHRINK,  304, 132, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_TABSTOP
   AUTOCHECKBOX "Always Use These options in the Future", IDC_SAVE_OPTIONS, 7, 136, 182, 10, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP
}

IDD_3DOPTIONS DIALOG 0, 0, 161, 103
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Advanced Direct 3D options"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
FONT 8, "MS Sans Serif"
{
   PUSHBUTTON "OK", IDC_OK, 104, 82, 50, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP
   PUSHBUTTON "Cancel", IDC_CANCEL, 7, 82, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP
   GROUPBOX "Rendering", -1, 7, 7, 147, 70, BS_GROUPBOX | WS_CHILD | WS_VISIBLE
   AUTOCHECKBOX "Bilinear filtering ", IDC_BILINEAR_FILTERING, 13, 18, 133, 10, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP
   AUTOCHECKBOX "Alpha Blending", IDC_ALPHA_BLEEDING, 13, 29, 133, 10, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP
   AUTOCHECKBOX "Perspective Correct", IDC_PERSPECTIVE_CORRECT, 13, 40, 133, 10, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP
   AUTOCHECKBOX "Frame Buffer Dithering", IDC_FRAME_BUFFER_DITHERING, 13, 51, 133, 10, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP
   AUTOCHECKBOX "Alternate 'Fox' Effect", IDC_ALTERNATE_FOX_EFFECT, 13, 62, 133, 10, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP
}

IDD_PASSWORD1STUSE DIALOG 0, 0, 281, 205
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Carmageddon 2, Parental Lock"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
FONT 8, "MS Sans Serif"
{
   PUSHBUTTON "OK", IDC_OK, 224, 162, 50, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
   PUSHBUTTON "Cancel", IDC_CANCEL, 224, 184, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP
   CONTROL 110, -1, "STATIC", SS_BITMAP | WS_CHILD | WS_VISIBLE, 47, 7, 182, 126
   CTEXT "'Carmageddon II Carpocalypse Now' offers a parental lock facility which will prevent access to the 'full blood' version of the game.", -1, 7, 137, 267, 23, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP
   AUTORADIOBUTTON "Yes I would", IDC_YES, 13, 171, 115, 10, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE
   AUTORADIOBUTTON "No. (Don't ask me this again)", IDC_NEVER, 13, 182, 113, 10, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE
   GROUPBOX " Do you wish to use this facility?", -1, 7, 159, 156, 39, BS_GROUPBOX | WS_CHILD | WS_VISIBLE
}

IDD_PASSWORDSETUP DIALOG 0, 0, 268, 95
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Parental Lock Setup"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
FONT 8, "MS Sans Serif"
{
   EDITTEXT IDC_PASSWORD, 103, 35, 68, 14, ES_LEFT | ES_PASSWORD | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
   EDITTEXT IDC_PASSWORD2, 103, 54, 68, 14, ES_LEFT | ES_PASSWORD | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
   PUSHBUTTON "OK", IDC_OK, 211, 55, 50, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP
   PUSHBUTTON "Cancel", IDC_CANCEL, 211, 74, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP
   LTEXT "Enter the password you wish to use to play the 'full blood' version of the game", -1, 7, 7, 185, 23, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP
   RTEXT "New password", -1, 7, 38, 86, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
   RTEXT "Confirm new password", -1, 7, 57, 86, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
}

IDD_ENTERPASSWORD DIALOG 0, 0, 186, 82
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Carmageddon 2 Parental Lock"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
FONT 8, "MS Sans Serif"
{
   EDITTEXT IDC_PASSWORD, 81, 31, 68, 14, ES_LEFT | ES_PASSWORD | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
   DEFPUSHBUTTON "Play The 'Full Blood' Version", IDC_OK, 7, 60, 172, 15, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP
   LTEXT "Enter the password to play the 'full blood' version of the game", -1, 7, 7, 172, 22, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP
   RTEXT "Password", -1, 34, 34, 37, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
   PUSHBUTTON "Cancel", IDC_QUIT, 7, 61, 172, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP
}
